@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit-bold';
    src: url('../fonts/Kanit/Kanit-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Kanit-thin';
    src: url('../fonts/Kanit/Kanit-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  