@import '../../../globals/globals.scss';
@import '../../../globals/fonts.scss';

.container-banner{
    height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), 
    url('../../../assets/bg-player.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .content-part{
        padding: 0rem 6rem;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        color: white;
        height: 100%;
        width: 65%;

        .title{
            font-family: 'Play-bold';
            font-size: 5rem;
            margin-bottom: 0.8rem;
            letter-spacing: 3px;
        }

        .description{
            max-width: 65%;
            font-size: 1.3rem;
        }

        .button-know-more{
            font-family: 'Play-bold';
            font-size: 1.3rem;
            background-color: $yellow-02;
            color: $gray-03;
            padding: 0.8rem 1.5rem;
            margin-top: 1.4rem;
            border-radius: 5px;
            box-shadow: 0px 0px 15px $transparent-yellow-02;
            transition: all .4s;

            &:hover{
                cursor: pointer;
                transform: translateX(3px);
                box-shadow: 0px 0px 25px $transparent-yellow-02;
            }
        }
    }
}